[tool.poetry]
name = "document-merge-service"
version = "6.2.1"
description = "Merge Document Template Service"
license = "GPL-3.0-or-later"
authors = ["Adfinis AG <info@adfinis.com>"]
homepage = "https://github.com/adfinis/document-merge-service"
repository = "https://github.com/adfinis/document-merge-service"
documentation = "https://github.com/adfinis/document-merge-service/blob/main/README.md"
readme = "README.md"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)",
    "Programming Language :: Python :: 3.8",
]
include = ["CHANGELOG.md"]
exclude = [
    "document-merge-service/**/tests",
]

[tool.poetry.dependencies]
python = "^3.8.1"
Babel = "^2.11.0"
Django = "^3.2.20"
django-cors-headers = "^4.2.0"
django-environ = "^0.10.0"
django-filter = "^23.2"
django-generic-api-permissions = "^0.2.0"
django-storages = "^1.13.2"
djangorestframework = "^3.14.0"
docx-mailmerge = "^0.5.0"
docxtpl = "^0.16.7"
Jinja2 = "^3.1.2"
mysqlclient = { version = "^2.2.0", optional = true }
psycopg2-binary = { version = "^2.9.6", optional = true }
python-dateutil = "^2.8.2"
python-memcached = "^1.59"
requests = "^2.31.0"
sentry-sdk = "^1.28.1"
uWSGI = "^2.0.21"
xltpl = "^0.18"

[tool.poetry.group.dev.dependencies]
black = "23.7.0"
django-stubs = "4.2.3"
factory-boy = "3.3.0"
flake8 = "6.0.0"
flake8-debugger = "4.1.2"
flake8-docstrings = "1.7.0"
flake8-isort = "6.0.0"
flake8-string-format = "0.3.0"
flake8-tuple = "0.4.1"
gitlint = "0.19.1"
isort = "5.12.0"
mypy = "1.4.1"
pdbpp = "0.10.3"
psutil = "5.9.5"
pydocstyle = "6.3.0"
pytest = "7.4.0"
pytest-cov = "4.1.0"
pytest-django = "4.5.2"
pytest-env = "0.8.2"
pytest-factoryboy = "2.5.1"
pytest-mock = "3.11.1"
pytest-randomly = "3.13.0"
python-semantic-release = "7.34.6"
requests-mock = "1.11.0"
snapshottest = "0.6.0"
types-python-dateutil = "2.8.19.13"
types-requests = "2.31.0.1"
types-setuptools = "68.0.0.2"
types-toml = "0.10.8.6"

[tool.poetry.extras]
mysql = ["mysqlclient"]
pgsql = ["psycopg2-binary"]
databases = ["mysqlclient", "psycopg2-binary"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
skip = "migrations,snapshots"
known_first_party = "document_merge_service"
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
combine_as_imports = true
line_length = 88

[tool.pytest.ini_options]
addopts = "--reuse-db --randomly-seed=1521188766 --randomly-dont-reorganize"
DJANGO_SETTINGS_MODULE = "document_merge_service.settings"
filterwarnings = """
    error::DeprecationWarning
    error::PendingDeprecationWarning
    ignore:invalid escape sequence
    ignore:pkg_resources is deprecated as an API:DeprecationWarning"""
env = """
    ADMINS=Test Example <test@example.com>,Test2 <test2@example.com>
    OIDC_USERINFO_ENDPOINT=mock://document-merge-service.github.com/openid/userinfo
    OIDC_BEARER_TOKEN_REVALIDATION_TIME=60"""

[tool.coverage.run]
source = ["."]

[tool.coverage.report]
fail_under = 100

exclude_lines = [
    "pragma: no cover",
    "pragma: todo cover",
    "def __str__",
    "def __unicode__",
    "def __repr__",
]
omit = [
    "*/migrations/*",
    "*/apps.py",
    "manage.py",
    "setup.py",
    "document_merge_service/settings_*.py",
    "document_merge_service/wsgi.py",
    "document_merge_service/document_merge_service_metadata.py",
]
show_missing = true

[tool.semantic_release]
version_source = "tag"
version_toml = "pyproject.toml:tool.poetry.version"
