[tool.poetry]
name = "document-merge-service"
version = "5.0.0"
description = "Merge Document Template Service"
authors = ["Adfinis AG"]
license = "GPL-3.0-or-later"

[tool.poetry.dependencies]
python = "^3.8"
Babel = "^2.10.3"
Django = "^3.2.15"
django-cors-headers = "^3.13.0"
django-environ = "^0.9.0"
django-filter = "^22.1"
djangorestframework = "^3.13.1"
docx-mailmerge = "^0.5.0"
docxtpl = "^0.16.4"
Jinja2 = "^3.1.2"
jsonpath = "^0.82"
mysqlclient = "^2.1.1"
psycopg2-binary = "^2.9.3"
python-dateutil = "^2.8.2"
python-memcached = "^1.59"
requests = "^2.28.1"
uWSGI = "^2.0.20"
xltpl = "^0.15"
openpyxl = "^3.0.10"

[tool.poetry.dev-dependencies]
black = "22.6.0"
django-stubs = "1.12.0"
factory-boy = "3.2.1"
flake8 = "5.0.4"
flake8-debugger = "4.1.2"
flake8-docstrings = "1.6.0"
flake8-isort = "4.2.0"
flake8-string-format = "0.3.0"
flake8-tuple = "0.4.1"
gitlint = "0.17.0"
isort = "5.10.1"
mypy = "0.971"
pdbpp = "0.10.3"
psutil = "5.9.1"
pydocstyle = "6.1.1"
pytest = "7.1.2"
pytest-cov = "3.0.0"
pytest-django = "4.5.2"
pytest-env = "0.6.2"
pytest-factoryboy = "2.5.0"
pytest-mock = "3.8.2"
pytest-randomly = "3.12.0"
python-semantic-release = "7.31.2"
requests-mock = "1.9.3"
snapshottest = "0.6.0"
types-python-dateutil = "2.8.19"
types-requests = "2.28.8"
types-setuptools = "63.4.0"
types-toml = "0.10.8"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
skip = "migrations,snapshots"
known_first_party = "document_merge_service"
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
combine_as_imports = true
line_length = 88

[tool.pytest.ini_options]
addopts = "--reuse-db --randomly-seed=1521188766 --randomly-dont-reorganize"
DJANGO_SETTINGS_MODULE = "document_merge_service.settings"
filterwarnings = """
    error::DeprecationWarning
    error::PendingDeprecationWarning"""
env = """
    ADMINS=Test Example <test@example.com>,Test2 <test2@example.com>
    OIDC_USERINFO_ENDPOINT=mock://document-merge-service.github.com/openid/userinfo
    OIDC_BEARER_TOKEN_REVALIDATION_TIME=60"""

[tool.coverage.run]
source = ["."]

[tool.coverage.report]
fail_under = 100

exclude_lines = [
    "pragma: no cover",
    "pragma: todo cover",
    "def __str__",
    "def __unicode__",
    "def __repr__",
]
omit = [
    "*/migrations/*",
    "*/apps.py",
    "manage.py",
    "setup.py",
    "document_merge_service/settings_*.py",
    "document_merge_service/wsgi.py",
    "document_merge_service/document_merge_service_metadata.py",
]
show_missing = true

[tool.semantic_release]
version_source = "tag"
