-r requirements.txt
black==21.6b0
dj-inmemorystorage==2.1.0
factory-boy==3.2.0
flake8==3.9.2
flake8-debugger==4.0.0
flake8-docstrings==1.6.0
flake8-isort==4.0.0
flake8-string-format==0.3.0
flake8-tuple==0.4.1
gitlint==0.15.1
isort==5.8.0
pydocstyle==6.1.1
pytest==6.2.4
pytest-cov==2.12.0
pytest-django==4.3.0
pytest-env==0.6.2
pytest-factoryboy==2.1.0
pytest-mock==3.6.1
pytest-randomly==3.8.0
requests-mock==1.9.2
python-semantic-release==7.16.4
snapshottest==0.6.0
psutil==5.8.0
