babel==2.9.1
django==3.2.13
django_cors_headers==3.11.0
django-environ==0.8.1
django-filter==21.1
djangorestframework==3.12.4
docx-mailmerge==0.5.0
docxtpl==0.14.2
jinja2==3.0.3
jsonpath==0.82
mysqlclient==2.0.3
psycopg2-binary==2.9.1
python-dateutil==2.8.2
python-memcached==1.59
requests==2.26.0
uwsgi==2.0.20
