babel==2.9.1
django==2.2.16
django_cors_headers==3.5.0
django-environ==0.4.5
django-filter==2.4.0
djangorestframework==3.12.1
docx-mailmerge==0.5.0
docxtpl==0.11.3
jsonpath==0.82
mysqlclient==2.0.1
psycopg2-binary==2.8.6
python-dateutil==2.8.1
python-memcached==1.59
requests==2.24.0
uwsgi==2.0.19.1
