name: PyPI

on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6

      - name: Install poetry
        run: pipx install poetry

      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"
          cache: "poetry"

      - name: Install dependencies
        run: |
          python -m pip install -U twine
          poetry install
      - name: Build package
        run: poetry build

      - name: Upload to PyPI
        run: twine upload --verbose dist/*
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
          TWINE_NON_INTERACTIVE: true
